.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.tree {
  display: flex;
}
.tree.root {
  flex-flow: column;
}
.tree.branch {
  flex-flow: row wrap;
}
.leaf {
  margin: 10px;
  height: 90px;
}

.leaf label {
  text-align: left;
}

.leaf__error {
  color: red;
  font-size: .8rem;
}
.submit {
  text-transform: uppercase;
}